*{
  font-family: 'SUIT Variable';
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
table{
  width: 100%;
  border-collapse: collapse;
}
body{
  background-color: #f4f4f6;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 레이아웃 */
.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.inner{
  width: 100%;
  padding: 0 20px;
}

/* 헤더 */
header{
  height: 50px;
  background-color: #393939;
  margin-bottom: 30px;
}
header .inner{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* 테이블 상단 */
.tableTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tableCount{
  display: flex;
  align-items: center;
  gap: 8px;
}
.tableCount p{
  font-size: 14px;
}
.tableCount select{
  width: 60px;
  height: 30px;
  border-radius: 4px;
  padding: 4px 6px;
}

/* listTable */
.listTable{
  border: 1px solid #e6e6e6;
}
.listTable thead tr th{
  height: 34px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  font-size: 13px;
  letter-spacing: -0.33px;
  color: #353535;
  font-weight: bold;
}
.listTable tbody tr td{
  height: 40px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: center;
}

/* viewTable */
.viewTable{
  border: 1px solid #e6e6e6;
}
.viewTable th{
  height: 40px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  font-size: 13px;
  font-weight: bold;
}
.viewTable td{
  height: 40px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  padding: 10px 12px;
}

/* 페이지 */
.pagination{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 4px;
  margin-top: 20px;
}
.pagination button{
  width: 24px;
  height: 24px;
  border-radius: 2px;
  font-size: 13px;
  color: #555;
  font-family:'SUIT-SemiBold';
}
.pagination button.on{
  background-color: #777;
  color: #fff;
}

.btn_center{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 100px;
  height: 42px;
  padding: 0 20px;
  border: 1px solid #929292;
  color: #333;
}